@import '../../App.scss';

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 556px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
.about-page,
.apps-page,
.contact-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 55%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px black;

    h1 {
      font-family:Bahnschrift,serif;
      font-weight: normal;
      font-size: 53px;
      color: #ffffff;
      position: relative;
      left: 10px;
      cursor: pointer;
      letter-spacing: 5px;
      margin: 0 auto;
    }
    h2{
      position: absolute;
      width: 500px;
      top: -5.3em;
      left: 7em;
      color: black;
      font-family: Calibri,serif;
      font-weight: lighter;
      letter-spacing: 4px;
      font-size: 50px;
      text-align: center;
      margin: 0 auto;
    }


    p {
      font-size: 15px;
      color: #000000;
      font-family: sans-serif;
      font-weight: lighter;
      min-width: fit-content;
      animation: pulse 1s;
      letter-spacing: 1.5px;
      padding: 15px;
      text-shadow: none;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }

  }

  .links-row {
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 7em;
    left: 31em;
    background-color: rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 15px black;
    padding: 5px;
    margin: 25px;
    text-align: center;
    border-radius: 15px;
    p{
     color: #feffff;
      font-size: 11px;
      font-weight: lighter;
      font-family: Arial,serif;
      letter-spacing: 8px;
    }

    a {
      border-radius: 15px;
      height: 16em;
      width: 16em;
      margin: 2em;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.51);
      transition-duration: 0.5s;
      &:hover{
        box-shadow: 0 0 30px #000000;
      }
    }
  }
.app-icon{
  text-align: center;
  width: 10em;
  padding-top: 1.5em;
}

  .text-animate-hover {
    &:hover {
      color: #feffff;
    }
  }
}





