@import '../../App.scss';

.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.top-tags {
  @include media(mobile) {
    top: 85px;
  }
  bottom: auto;
  top: 35px;
}

.tags {
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore';
}

.bottom-tag-html {
  margin-left: 20px;
  margin-top: 10px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 556px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page,
.apps-page,
.contact-page {

  .text-zone {
    @include media(mobile){
      left: 20%;
      width: 70%;
      height: 100%;
      margin-top: 40px;
    }
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      @include media(mobile){
        font-size: 40px;
      }
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;
      cursor: pointer;

      &::before {
        content: '<h1>';
        font-family: "La Belle Aurore";
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '<h1/>';
        font-family: "La Belle Aurore";
        font-size: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      @include media(mobile){
        letter-spacing: 1px;
      }
      font-size: 15px;
      font-style: italic;
      color: #ffffff;
      font-family: sans-serif;
      font-weight: 400;
      min-width: fit-content;
      animation: pulse 1s;
      letter-spacing: 1.5px;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: white;
    }
  }

  .links-list {
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    padding-top: 18%;
    padding-left: 50%;

    li {
      padding-left: 50px;
    }

    svg {
      height: 70px;

      &:hover {
        color: #ffd700;
        transition-duration: 1s;
      }
    }
  }
}
