@import '../../App.scss';

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 556px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
.about-page,
.apps-page,
.contact-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 55%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px black;


    h1 {
      font-family: "Calibri", serif;
      font-weight: normal;
      font-size: 53px;
      color: #070000;
      position: relative;
      left: 10px;
      cursor: pointer;
      letter-spacing: 5px;
      margin: 0 auto;
    }

    p {
      font-size: 15px;
      color: #000000;
      font-family: sans-serif;
      font-weight: lighter;
      min-width: fit-content;
      animation: pulse 1s;
      letter-spacing: 1.5px;
      padding: 15px;
      text-shadow: none;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }

  }

  .links-row {
    p{
      @include media(mobile) {
       font-style: normal;
        font-size: 10px;
        font-weight: bold;
      }
     color: #070000;
      font-size: 15px;
      font-family: Arial;
      font-weight: bold;
      font-style: oblique;
    }
    display: inline-flex;
    margin-left: 50%;
    margin-top: 15%;


    a {
      @include media(mobile) {
        padding: 5px;
        width: 100px;
      }
      &:hover{
        box-shadow: 0 0 30px gold;
        background: #115173;
      }
      border: 2px solid gold;
      border-radius: 15px;
      backdrop-filter: blur(10.5px);
      width: 200px;
      padding: 25px;
      text-decoration: none;
      margin-left: 50px;
      transition-duration: 1s;
    }

    svg {
      @include media(mobile) {
        height:50px;
      }
      height: 70px;
      color: #feffff;

      &:hover {
        color: #feffff;
        transition-duration: 1s;
      }
    }
  }

  .text-animate-hover {
    &:hover {
      color: #070000;
    }
  }
}





