@import '../../App.scss';

.contact-form {
  height: 500px;

  ul {
    position: absolute;
    width: 47em;
    top: 15em;
    left: 0;
    padding: 5px;
    margin: 5px;
    li {
      list-style: none;
      margin-bottom: 10px;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      &:first-child {
        margin-left: 0;
      }
    }
  }
  input[type='text'],
  input[type='email']{
    width: 100%;
    border: 0;
    background: rgba(4, 7, 7, 0.19);
    height:50px;
    font-size: 16px;
    color: #feffff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea{
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.21);
    height: 50px;
    font-size: 16px;
    color: #feffff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
    resize: none;
  }
  .flat-button{
    color: #feffff;
    background: 0 0;
    font-size: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    padding:8px 10px;
    border: none;

    border-radius:4px;

  }
}

.map-wrap {
  position: relative;
  top: 10%;
  left: 50%;
  width: 49%;
  height: 88%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px black;
  border-radius: 5px;
  overflow: hidden;

}

.leaflet-container{
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map{
  position: absolute;
  top:14%;
  left: 78%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #feffff;
  font-family: 'Helvetica',serif;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 15px black;
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  border-radius: 5px;
  span{
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #feffff;
  }

}
@media screen and (max-width: 1200px) {
  .map-wrap {
    float: none;
    margin: 0;
    width: 100%;
    height: 400px;
  }

  .info-map {
    display: none;
  }
}